<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Survey</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">
            {% if is_edit_survey %}
            Edit Survey
            {% else %}
            Create New Survey
            {% endif %}
        </h1>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ survey_form.as_p }}
            <button type="submit" name="survey_form" class="btn btn-success">
                {% if is_edit_survey %}
                Update Survey
                {% else %}
                Create Survey
                {% endif %}
            </button>
            <a href="{% url 'list_my_survey' %}" class="btn btn-secondary">Return</a>
        </form>

        <div class="mt-5">
            <h2>Questions</h2>
            {% for question in questions %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Question {{ question.question_order }}</h5>
                        <p class="card-text">{{ question.question_text }}</p>
                        <p class="card-text"><strong>Type:</strong> {{ question.question_type.name }}</p>
                        {% if question.img %}
                            <img src="{{ question.img.url }}" class="img-fluid" alt="Question Image">
                        {% endif %}

                        <button class="btn btn-warning"
                            id="button_edit_question"
                            data-question-id="{{ question.id }}"
                            data-question-text="{{ question.question_text }}"
                            data-question-type="{{ question.question_type.id }}"
                            data-question-order="{{ question.question_order }}"
                        >Edit</button>
                        <form method="POST" action="{% url 'delete_question' question.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p>No questions added yet.</p>
            {% endfor %}
        </div>        

        <div class="mt-5">
            <h2 id="question-form-title">Edit/Create Question</h2>
            <form method="POST" action="" enctype="multipart/form-data" id="question-form">
                {% csrf_token %}
                {{ question_form.as_p }}
                <input type="hidden" id="question-id" name="question-id">
                <button type="submit" name="question_form" class="btn btn-primary">Save Question</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OCpP0XIs1s87h67LgQDs60mnfW/ZZ+FcK7ON5gEKXk5cI74dj5vJozuBy39xlQ+F"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const editButtons = document.querySelectorAll('#button_edit_question');
    
            editButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    const questionId = this.getAttribute('data-question-id');
                    const questionText = this.getAttribute('data-question-text');
                    const questionType = this.getAttribute('data-question-type');
                    const questionOrder = this.getAttribute('data-question-order');
    
                    document.getElementById('question-id').value = questionId;
                    document.querySelector('#id_question_text').value = questionText;
                    document.querySelector('#id_question_type').value = questionType;
                    document.querySelector('#id_question_order').value = questionOrder;

                    const questionForm = document.getElementById('question-form-title');
                    questionForm.scrollIntoView({
                        behavior: 'smooth',
                        block: 'left'
                    });
                });
            });
        });
    </script>
</body>

</html>