<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Surveys</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
     {% include 'navbar.html' %}
  <div class="container mt-5">
        <h1 class="text-center">Surveys For You</h1>
        <div class="mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Syukri membuat survey</h5>
                    <p class="card-text">placeholder cek</p>
                    <p class="card-text"><strong>Total Price:</strong> $10</p>
                    <p class="card-text"><strong>Status:</strong> <span class="text-danger">Inactive</span></p>
                    <p class="card-text"><strong>Created on:</strong> Nov. 17, 2024, 12:55 p.m.</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Coba lagi</h5>
                    <p class="card-text">Cek 2</p>
                    <p class="card-text"><strong>Total Price:</strong> $20</p>
                    <p class="card-text"><strong>Status:</strong> <span class="text-danger">Inactive</span></p>
                    <p class="card-text"><strong>Created on:</strong> Nov. 17, 2024, 12:55 p.m.</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Coba lagi</h5>
                    <p class="card-text">Cek 2</p>
                    <p class="card-text"><strong>Total Price:</strong> $20</p>
                    <p class="card-text"><strong>Status:</strong> <span class="text-danger">Inactive</span></p>
                    <p class="card-text"><strong>Created on:</strong> Nov. 17, 2024, 12:55 p.m.</p>
                </div>
            </div>
        </div>
    </div>
  </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
