{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <div class="row align-items-center">
            <!-- Image Column -->
            <div class="col-md-6 d-flex justify-content-center">
                <img src="{% static 'survey.avif' %}" alt="Survey Image" class="img-fluid"
                    style="max-width: 100%; height: auto;">
            </div>
            <!-- Text Column -->
            <div class="col-md-6 text-end">
                <h1>Resfound</h1>
                <h3>
                    <div id="word-container" class="d-inline-block" style="overflow: hidden; height: 1.01em;">
                        <span id="words" style="display: block; position: relative;">Dari</span>
                    </div>
                    Peneliti
                </h3>
                <h5 class="mt-4">
                    Resfound adalah platform inovatif untuk survei penelitian. Anda dapat berkontribusi pada survei lain
                    sekaligus mendapatkan partisipasi untuk survei Anda. Dengan sistem ekonomi saling menguntungkan,
                    pengumpulan data menjadi lebih efisien dan berkualitas. Bergabunglah untuk mendukung penelitian
                    lebih
                    baik!
                </h5>
            </div>
        </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-mQ93GVzO9Kj2U+FJb0cSNFspIRyfuG0Fk4uOzZLlqK1SW2JlBwYjK7bhEsWbi0Yx"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    (function () {
        var words = ["Dari  ", "Oleh ", "Untuk"],
            i = 0;

        setInterval(function () {
            // Slide current word up
            $('#words').animate({ top: '-1em' }, 300, function () {
                // Change the word after the slide up
                $(this).html(words[(i = (i + 1) % words.length)]);
                // Reset position and slide in the new word
                $(this).css({ top: '1em' }).animate({ top: '-0.01em' }, 300);
            });
        }, 2000);
    })();
</script>

</html>