<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand text-primary" href="#" style="font-family: 'Krona One', sans-serif;">RESFOUND</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">

        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="{% url 'home' %}">
            {% include 'home.svg' %}
            <span>Home</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="{% url 'fyp' %}">
            {% include 'search.svg' %}
            <span>For You</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="{% url 'list_my_survey' %}">
            {% include 'book.svg' %}
            <span>My Survey</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="{% url 'profile' %}">
            {% include 'profile.svg' %}
            <span>Account</span>
          </a>
        </li>
      </ul>
      <form method="GET" action="" class="d-flex" role="search">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
          <input class="form-control" type="search" placeholder="Cari survey" aria-label="Search" name="judul">
        </div>
      </form>
    </div>
  </div>
</nav>